{% extends 'base.html.twig' %}

{% block title %}Register in Purpleclouds {% endblock %}

{% block body %}

    {% if error is defined %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.age) }}

        <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}