{% extends 'base.html.twig' %}

{% block title %} Purple clouds profile {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">PurpleClouds</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('web_logout_user') }}">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('idp_profile') }}">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>

                <h2>User information</h2>
                <section class="justify-content-lg-start border-bottom my-2">
                    <ul>
                        <li>email {{ user.email }}</li>
                    </ul>
                </section>
                <h2>Registered IDP Client applications</h2>
                <section class="justify-content-lg-start order-bottom my-4">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">redirect uris</th>
                                    <th scope="col">scopes</th>
                                    <th scope="col">uuid</th>
                                    <th scope="col">public id</th>
                                    <th scope="col">secret</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for client in clients %}
                                    <tr>
                                        {% for uri in client.redirectUri %}
                                            <td><strong>{{ uri }}</strong></td>
                                        {% endfor %}
                                        <td><strong>{{ client.scopes }}</strong> </td>
                                        <td><strong>{{ client.Uuid.asString }}</strong> </td>
                                        <td><strong>{{ client.clientId }}</strong> </td>
                                        <td><strong>{{ client.secret }}</strong> </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <h2>Register new client</h2>
                <section class="justify-content-lg-center order-bottom my-2">
                    <div class="col-xs-12 col-md-6">
                        {{ form_start(idp_client_form, {'attr': {'class':'form-signin'}, 'action': path('web_idp_create_client')}) }}

                        {{ form_row(idp_client_form.name) }}
                        {{ form_row(idp_client_form.redirectUri) }}
                        {{ form_row(idp_client_form.grantType) }}

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Create client</button>
                        {{ form_end(idp_client_form) }}
                    </div>
                </section>
            </main>
        </div>
    </div>
    {% block javascripts %}
        <link rel="stylesheet" href="{{ asset('assets/js/dashboard.js') }}">
    {% endblock %}
{% endblock %}
